



.b1{
    margin-top:200px; 
    margin-left:300px;
     border: solid black;
     padding : 50px;
   border-radius: 1000px;
  background-color: rgba(5, 5, 5, 0.473);
  color: white;

}
.b2{
    margin-top:50px;
     margin-left:300px;
      margin-bottom:200px;
      border:  solid black;
      padding : 50px;
      border-radius: 1000px;
      background-color: rgba(0, 0, 0, 0.473);
      color: white;

}


.b1:hover{
    border-bottom-width: 10px;
    border-right-width: 10px;
    background-color: rgba(0, 0, 0, 0.815);
}

.b2:hover{
    border-bottom-width: 10px;
    border-right-width: 10px;
    background-color: rgba(0, 0, 0, 0.815);
}